drop database if exists exemple;
create database exemple;

use exemple;


CREATE TABLE dept (
	nodept 		varchar(50) NOT NULL PRIMARY KEY,
	nom 		varchar(50) NOT NULL,
	noregion 	varchar(50) NOT NULL
);

CREATE TABLE employe(
	noemp 		int NOT NULL PRIMARY KEY,
	nom 		varchar(50) NOT NULL,
	prenom 		varchar(50) NOT NULL,
	dateemb 	datetime NOT NULL,
	nosup 		varchar(50) NULL,
	titre 		varchar(50) NOT NULL,
	nodep 		varchar(50) NOT NULL REFERENCES dept(nodept),
	salaire 	decimal(18, 0) NOT NULL,
	tauxcom 	decimal(18, 0) NULL
);



INSERT INTO  dept  ( nodept ,  nom ,  noregion ) VALUES ('10', 'finance', '1');
INSERT INTO  dept  ( nodept ,  nom ,  noregion ) VALUES ('20', 'atelier', '2');
INSERT INTO  dept  ( nodept ,  nom ,  noregion ) VALUES ('30', 'atelier', '3');




INSERT INTO  employe  ( noemp ,  nom ,  prenom ,  dateemb ,  nosup ,  titre ,  nodep ,  salaire ,  tauxcom ) VALUES (1, 'patamob', 'adhémar', '20000326', NULL, 'président', '50', 50000, NULL);
INSERT INTO  employe  ( noemp ,  nom ,  prenom ,  dateemb ,  nosup ,  titre ,  nodep ,  salaire ,  tauxcom ) VALUES (2, 'zeublouse', 'agathe', '20000415', '1', 'dir.distrib', '41', 35000, NULL);
INSERT INTO  employe  ( noemp ,  nom ,  prenom ,  dateemb ,  nosup ,  titre ,  nodep ,  salaire ,  tauxcom ) VALUES (3, 'kuzbidon', 'alex', '20000505', '1', 'dir.vente', '31', 34000, NULL);


 ------------------------------------------------------------------------------------


 --ex2------------------------------------------------
 SELECT * FROM dept

 --ex3------------------------------------------------

SELECT nom, dateemb, nosup, nodep, salaire
FROM employe;

SELECT dept.nom, dateemb, nosup, nodep, salaire 
FROM dept, employe

---ex4-------------------------------------------------

SELECT titre
FROM employe;

--ex5--------------------------------------------------

SELECT titre 
FROM employe 
WHERE titre = 'président';

SELECT DISTINCT titre 
FROM employe 

--ex6--------------------------------------------------

SELECT nom, noemp, nodep
FROM employe
WHERE titre = "secrétaire"

--ex7--------------------------------------------------

SELECT nom, nodep
FROM employe
WHERE nodep > 40

--ex8--------------------------------------------------

SELECT nom, prenom
FROM employe
WHERE nom < prenom

--ex9--------------------------------------------------

SELECT nom, salaire, nodep
FROM employe
WHERE titre = "représentant" AND nodep = 35 AND salaire > 20000

--ex10--------------------------------------------------

SELECT nom, salaire, nodep
FROM employe
WHERE titre = "représentant" OR titre = "président"

--ex11--------------------------------------------------

SELECT nom, titre, salaire, nodep
FROM employe
WHERE nodep = 34 AND (titre = "représentant" OR titre = "secrétaire")

--ex12--------------------------------------------------

SELECT nom, titre, nodep, salaire
FROM employe
WHERE (titre = "représentant" OR titre = "secrétaire") AND nodep IN ("34")


--ex13--------------------------------------------------

SELECT nom, salaire
FROM employe
WHERE salaire BETWEEN 20000 AND 30000

--ex15--------------------------------------------------

SELECT nom
FROM employe
WHERE nom LIKE "h%"

--ex16--------------------------------------------------

SELECT nom
FROM employe
WHERE nom LIKE "%n"

--ex17--------------------------------------------------

SELECT nom
FROM employe
WHERE nom LIKE "__u%"

--ex18--------------------------------------------------

SELECT salaire, nom
FROM employe
WHERE nodep in ("41")
ORDER BY salaire

--ex19--------------------------------------------------

SELECT salaire, nom
FROM employe
WHERE nodep in ("41")
ORDER BY salaire DESC

--ex20--------------------------------------------------

SELECT titre, salaire, nom
FROM employe
ORDER BY titre, salaire DESC

--ex21--------------------------------------------------

SELECT tauxcom, salaire, nom
FROM employe
ORDER BY tauxcom

--ex22--------------------------------------------------

SELECT nom, salaire,  tauxcom, titre
FROM employe
WHERE tauxcom IS NULL


--ex23--------------------------------------------------

SELECT nom, salaire,  tauxcom, titre
FROM employe
WHERE tauxcom IS NOT NULL


--ex24--------------------------------------------------

SELECT nom, salaire,  tauxcom, titre
FROM employe
WHERE tauxcom IS NOT NULL AND tauxcom < 15


--ex25--------------------------------------------------

SELECT nom, salaire,  tauxcom, titre
FROM employe
WHERE tauxcom IS NOT NULL AND tauxcom > 15

--ex26--------------------------------------------------

SELECT nom, salaire,  tauxcom, tauxcom*salaire AS commission
FROM employe
WHERE tauxcom IS NOT NULL

--ex27--------------------------------------------------

SELECT nom, salaire,  tauxcom, tauxcom*salaire AS commission
FROM employe
WHERE tauxcom IS NOT NULL
ORDER BY tauxcom

--ex28--------------------------------------------------

SELECT CONCAT (nom, prenom) AS concatenatedname
FROM employe

--ex29--------------------------------------------------

SELECT SUBSTRING(nom, 1, 5)
FROM employe

--ex30--------------------------------------------------

SELECT nom, LOCATE("r", nom) AS rang
FROM employe

--ex31--------------------------------------------------

SELECT nom, UPPER(nom), LOWER(nom)
FROM employe
WHERE nom = "vrante"

--ex32--------------------------------------------------

SELECT nom, LENGTH(nom)
FROM employe


-----JOINTURES-----------------------------------------

SELECT prenom, noregion, e.nodep
FROM employe e
JOIN dept d
ON e.nodep = d.nodept


SELECT nodept, d.nom, e.nom
FROM employe e
JOIN dept d
ON e.nodep = d.nodept
ORDER BY nodept


SELECT d.nom, e.nom
FROM employe e
JOIN dept d
ON e.nodep = d.nodept
WHERE d.nom = "distribution"


SELECT e.nom, e.salaire, p.nom, p.salaire
FROM employe e
JOIN employe p
ON e.nosup = p.noemp
WHERE e.salaire > p.salaire


SELECT nom, titre
FROM employe
WHERE titre = (
	SELECT titre
	FROM employe
	WHERE nom = "Amartakaldire"
)


